* {
  box-sizing: border-box;
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}
html {
  /* width: 1440px; */
  overflow-x: hidden;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;

  background-image: url("../img/bg_main.svg");
  background-color: #d9faff;
  background-repeat: no-repeat;
  background-size: contain;
}

section {
  max-width: 1112px;
  margin: 0 auto;
}

header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.header_link a,
.header_logo a {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #d9faff;
  margin-top: 47px;
}

.header_logo a {
  margin-top: 34px;
}

.header_button button,
.main_button {
  display: block;
  margin: 36px 0px;
  width: 167px;
  height: 50px;

  border: 1.5px solid #d9faff;
  box-sizing: border-box;
  border-radius: 26px;

  background-color: transparent;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: #d9faff;

  cursor: pointer;
}

.main_button {
  margin: 40px auto 0;
  width: 198px;
  height: 50px;
  background: linear-gradient(90deg, #da6900 21.75%, #eb7100 100%);
  border-radius: 26px;
}

.main_button:hover {
  background: #924802;
}

.header_title {
  display: block;
  margin: 180px auto 0;

  font-weight: bold;
  font-size: 46px;
  line-height: 52px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  color: #d9faff;
}

.header_subtitle {
  display: block;
  margin: 27px auto 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #d9faff;
}

.social_link {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 350px;
}

.social_link a {
  margin: 0 auto;
  justify-content: space-between;
}

/* possibility section */

.possibility_title {
  display: block;
  text-align: center;
  margin-top: 192.5px;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  color: #00204a;
}

.possibility_info {
  display: flex;
  margin-top: 62px;
}

.possibility_post,
.possibility_net,
.possibility_video {
  max-width: 349px;
  margin-right: 30px;
}
.possibility_video {
  margin-right: 0;
}

.post_title,
.net_title,
.video_title {
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #00204a;
}

.post_info,
.net_info,
.video_info {
  margin-top: 17px;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #00204a;
}

.possibility_icon {
  width: 54px;
  height: 54px;
}

.possibility_icon img {
  width: 100%;
  height: 100%;
}

.subscribers {
  display: flex;
  margin-top: 172px;
  justify-content: space-between;
}

.subscribers_descr_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  color: #00204a;
}

.subscribers_descr_text {
  margin-top: 23.5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1px;
}

.subscribers_descr button {
  margin-top: 48px;
}

/* tariffs */

.tariff {
  display: block;
  margin: 0 auto;
  margin-top: 160px;
}

.tariff_title {
  display: block;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00204a;
}

.tariff_plans {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.blue_plan {
  width: 352px;
  height: 512px;
  background: url("/img/blue_plan.svg");
  border-radius: 38px;
}

.dark_blue_plan {
  width: 352px;
  height: 512px;
  background: url("/img/dark_blue.svg");
  border-radius: 38px;
}

.plan_title {
  width: 351px;
  height: 111px;
  padding-top: 31px;
  padding-bottom: 35px;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #d9faff;
}

.plan_price {
  margin-top: 44px;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.2px;
  color: #00204a;
}

.dark_blue_plan .plan_price {
  color: #d9faff;
}

.plan_count_social {
  margin-top: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #00204a;
}

.plan_count_posts {
  margin-top: 33px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #00204a;
}
.blue_plan span {
  color: #005792;
}

.tariff_plans button {
  margin-top: 44px;
}

.dark_blue_plan .plan_count_social,
.dark_blue_plan .plan_count_posts {
  color: #d9faff;
}

/* comments */

.comment_title {
  margin-top: 161px;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00204a;
}

.coment_line {
  margin: 38px 0;
  display: block;
  width: 100%;
  border: 2px solid #a0f3ff;
}

.coment_line:last-child {
  margin-bottom: 19px;
}

.customer_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #00204a;
}

.customer_address {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #00204a;
}

.customer_content {
  margin-top: 27px;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1px;
  text-align: justify;
  color: #00204a;
}

.coment_customer {
  padding-left: 124px;
  position: relative;
}

.customer_foto {
  position: absolute;
  left: 0;
  top: 0;
}

/* page numbers */

.page_number {
  display: flex;
  justify-content: center;
}
.page_position,
.page_dots {
  margin-right: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1.2px;
  color: #00204a;
  cursor: pointer;
}

.page_position.active {
  color: #00bbf0;
}

.free_month {
  margin: 160px 0 110px 0;
}

.free_month_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00204a;
}

.free_month_subtitle {
  margin-top: 53px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #00204a;
}

.free_month_input button {
  height: 44px;
  margin: 0;
  position: absolute;
  right: 0;
  top: -1;
}
.free_month_input {
  position: relative;
  width: 480px;
  height: 42px;
  display: flex;
  margin: 0 auto;
  margin-top: 54px;
}

.free_month_input input {
  width: 316px;
  height: 42px;
  border-radius: 26px;
  border: 1.5px solid #005792;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #b1b1b1;
  padding-left: 18px;
}

/* footer */

footer {
  height: 120px;
  width: 100%;
  background-color: #00204a;
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .header_title {
    margin: 70px auto 0;
  }

  .wrapper {
    width: 100vw;
  }
}

@media screen and (max-width: 1160px) {
  .header button,
  .footer button {
    margin-right: 20px;
  }
  section {
    padding: 0 15px;
  }
}

@media (max-width: 1070px) {
  .header_title {
    margin: 0 auto;
  }
  .possibility_title {
    margin-top: 140px;
  }

  .possibility_post,
  .possibility_net,
  .possibility_video {
    margin-right: 0px;
    margin-left: 10px;
  }

  .tariff_plans {
    display: block;
  }
  .dark_blue_plan,
  .blue_plan {
    margin: 30px auto;
  }
}

@media (max-width: 950px) {
  .header_link a,
  .header_logo a {
    font-size: 20px;
    margin-top: 31px;
  }
  .header_logo a {
    margin-top: 10px;
  }
  .header_title {
    font-size: 36px;
    line-height: 42px;
  }
  .header_subtitle {
    margin: 10px auto 0;
  }
  .header_button button,
  .main_button {
    margin: 20px auto 0px;
  }
  .possibility_post,
  .possibility_net,
  .possibility_video,
  .possibility_info {
    display: block;
    margin: 30px auto;
  }

  .subscribers {
    display: block;
    margin: 0 auto;
  }
  .subscribers_foto img {
    display: block;
    margin: 0 auto;
  }
  .header button,
  .footer button {
    margin-right: 30px;
  }

  .customer_content {
    padding-right: 10px;
  }
}

@media (min-width: 1460px) {
  .wrapper {
    width: 100vw;
    background-size: cover;
  }
  .header_section {
    min-height: 800px;
  }
}

@media (min-width: 1921px) {
  .header_section {
    min-height: 100vh;
  }
}
